.navbar{
  position: relative;
  top: 0;
  background: #eee;
  height: 80px;
  border-bottom: 1px solid pink;
}

.navbar-button{
  background-color:#b22971 !important;
  color: #eeee !important;
}

.timeline{
  padding: 10px;
  cursor: pointer;
}

.searchForm{
  position: relative;
  z-index: 1000;
  width: 500px;
  margin: -5px auto;
  display: inline-block;
  text-align: left;
  md-input-container{
    width: 50%;
  }
}