.navbar{
  position: relative;
  top: 0;
  background: #eee;
  height: 80px;
  border-bottom: 1px solid pink;
}

.navbar-button{
  background-color:#b22971 !important;
  color: #eeee !important;
}

.timeline{
  padding: 10px;
  cursor: pointer;
}