<div class="row  navbar padding-top-one text-right">
            <h1 class="pull-left bold timeline" ui-sref="home">Introspectum</h1>
    <form a ng-submit="search()" class="searchForm" ng-show="isLoggedIn" ng-cloak="">
        <md-input-container>
            <input type="text" placeholder="Search By Tag" ng-model="tagKeyword">
        </md-input-container>
    </form>
    <md-input-container style="margin-right: 10px;" ng-show="isLoggedIn" ng-cloak="">
        <label>User</label>
        <md-select ng-model="nav.action">
            <md-option  ui-sref="profile" value="Profile">Profile</md-option>
            <md-option  ng-click="logout()">Logout</md-option>
        </md-select>
    </md-input-container>
</div>