<md-dialog aria-label="Entry" class="entryDialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ctrl.entryTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-src="assets/svg/clear.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style=" min-height: 450px;min-width: 545px;padding: 2%">
            <h3 class="text-left">
                {{ctrl.entryDate}}
            </h3>
            <md-input-container class="width100">
                            <textarea type="text"
                                      class="width100"
                                      ng-model="ctrl.entryText"
                                      placeholder="Your Entry"
                                      required></textarea>
            </md-input-container>
            <div class="content-tags">
                <md-chips
                        ng-model="ctrl.tags"
                        readonly="ctrl.readonly"
                        placeholder="Enter a tag, hit Enter"
                        delete-button-label="Remove Tag"
                        delete-hint="Press delete to remove tag"
                        secondary-placeholder="+Tag"></md-chips>
            </div>
        </md-dialog-content>
    </form>

        <md-dialog-actions layout="row">
            <md-button  md-autofocus>
                Edit
            </md-button>
            <md-button ng-click="ctrl.deleteEntry()">
                Delete
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>