<div class="center" id="profile">
    <md-card>
        <md-card-content>
            <form action="" name="profileForm">
                <md-input-container class="block">
                    <label>First name</label>
                    <input type="text">
                </md-input-container>

                <md-input-container class="block">
                    <label>Last name</label>
                    <input type="text">
                </md-input-container>

                <md-input-container class="block">
                    <label>Email address</label>
                    <input ng-model="ctrl.userEmail"
                           ng-click="ctrl.updateEmailError = false"
                           name="email"
                           type="email"
                           ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                           required>

                    <div ng-messages="profileForm.email.$error" ng-show="profileForm.email.$dirty || ctrl.logbtn">
                        <div ng-message="required">Email address is required.</div>
                        <div ng-message="pattern">Email address is not valid.</div>
                        <div ng-show="dialog.loginUserError" class="customError2">{{dialog.loginError}}</div>
                    </div>
                </md-input-container>

                <md-button class="md-raised md-primary">
                    Submit
                </md-button>

            </form>
        </md-card-content>
    </md-card>
</div>