.login-signup-card{
  width: 450px;
}

.banner-image {
  background-image: url(../images/diary.jpg);
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  background-position: top;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-facebook {
  background-color: #3B5998;
  color: #fff;
  width: 300px;
  margin: 5px auto;
}

.btn-google {
  background-color: #dd4b39;
  color: #fff;
  width: 300px;
  margin: 5px auto;
}