
/* container */
treasure-overlay-spinner.treasure-overlay-spinner-active-remove {
  transition:  all 750ms ease-in;
}


.treasure-overlay-spinner-container {
  position: absolute;
  min-height: 50px;
  min-width: 50px;
  z-index: 1000;
  top: -9999999px;
  left: -9999999px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.85);
  opacity: 0;
  transition: opacity 500ms ease-in;
}


.treasure-overlay-spinner-active .treasure-overlay-spinner-container,
.treasure-overlay-spinner-active-add .treasure-overlay-spinner-container,
.treasure-overlay-spinner-active-add-active .treasure-overlay-spinner-container {
  top: 0;
  left: 0;
  opacity: 1;
}

.treasure-overlay-spinner-active-remove .treasure-overlay-spinner-container,
.treasure-overlay-spinner-active-remove-active .treasure-overlay-spinner-container {
  top: 0;
  left: 0;
  opacity: 0;
}


/* content */
.treasure-overlay-spinner-content {
  position: relative;
}

